#PreviewWindow {
    /* background-color: var(--bgcolor);
    border: 2px var(--border) solid; */

    width: 70%;

    font-size: large;

    padding: 8px;  

    margin-right: auto;
}

.MainContainer {
    width: 95%;
}

.MainContainer_Left {
    width: 69.5%;
    display: inline-block;
    vertical-align: top;
}

.MainContainer_Right {
    width: 29.5%;
    display: inline-block;
    vertical-align: top;
}

.Container_Color {
    background-color: var(--dark_bgcolor2);
    border: 2px var(--dark_border2) solid;
    padding: 0px 10px;

    height: fit-content;
    width: fit-content;
}

.Container95 {
    width: 95%;
}

.Container80_inline {
    width: 79.5%;
    display: inline-block;
    vertical-align: top;
}

.Container70_inline {
    width: 69.5%;
    display: inline-block;
    vertical-align: top;
}

.Container60_inline {
    width: 59.5%;
    display: inline-block;
    vertical-align: top;
}

.Container40_inline {
    width: 39.5%;
    display: inline-block;
    vertical-align: top;
}

.Container30_inline {
    width: 29.5%;
    display: inline-block;
    vertical-align: top;
}

.Container20_inline {
    width: 19.5%;
    display: inline-block;
    vertical-align: top;
}

.Container10_inline {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.ContainerContent {
    background-color: var(--bgcolor);
    border: 2px var(--border) solid;
    border-radius: 0px 10px 10px 0px;

    width: 70%;

    font-size: large;

    padding: 8px;
    transition: 0.3s;
}

.ContainerExperience {
    width: 10%;
    display: inline-block;
    vertical-align: top;

    transition: 0.2s;
}

.ContainerContent_Wolfyxon {
    background-color: var(--bgcolor_Wolfyxon);
    border: 2px var(--border_Wolfyxon) solid;
    border-radius: 0px 10px 10px 0px;

    width: 70%;

    font-size: large;

    padding: 8px;
    transition: 0.3s;
}


.ContainerContent:hover, .ContainerContent_Wolfyxon:hover {
    width: 80%;
    /* margin-left: 10px; */
}

.ContainerHeader {
    background-color: var(--bgcolor_header);
    border: 2px var(--border_header) solid;
    border-radius: 0px 10px 10px 0px;

    width: 85%;

    font-size: large;

    padding: 8px;
    transition: 0.3s;
}

.ContainerHeader:hover {
    width: 90%;
}

.NewsPage {
    background-color: var(--bgcolor);
    border: 2px var(--border) solid;

    width: 80%;

    padding: 5px;
}

.Container80_BG {
    background-color: var(--bgcolor);
    border: 2px var(--border) solid;

    width: 95%;
}

.ProjectContainer {
    background-color: var(--bgcolor);
    border: 2px var(--border) solid;

    width: 90%;

    font-size:large;

    padding: 5px;
    margin: auto;
}

.ArtContainer_inline {
    display: inline-block;
    padding: 2px;
    vertical-align: top;
}

.ArtContainer {
    background-color: gray;
    border: 2px var(--border) solid;

    width: fit-content;

    margin: auto;
}

.ArtContainer img{
    height: 400px;
    margin: auto;
}
