html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: blueviolet; 
    font-family:'Courier New', Courier, monospace;
    background-image: url("Images/GalacticBackground.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#MrWatroba {
    height: 200px;
    position: fixed;
    bottom: 0;
}

#MrWatrobaJumpscare {
    height: 120%;
    width: 100%;
    position:fixed;
    display: none;
    top: 0;
}

#ButtonContainer {
    vertical-align: top;
}

#ButtonContainer a {
    margin: 20px auto;
    display: block;
}

.CenterText {
    text-align: center;
    margin-top: auto;
}

.BigText {
    font-size: 300%;
}

.Container {
    width: 100%;
}
  
.LeftSide, .RightSide {
    display: inline-block;
    width: 49%;
    height: 70%;
}


.PageButton {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    color: rgb(204, 65, 255);
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.ExitButton {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    color: rgb(204, 65, 255);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.OutsideLinkButton {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.ArtGallerySocialImg {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    height: 10%;
    width: 10%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.MainMusicCover {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    margin: 0 auto;
}

.MusicCover {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.PlanguageCover {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    height: 120px;
    width: 120px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: solid;
    display: inline-block;
    text-align:center;
}

.ImgInPlanguageCover {
    height: 80%;
    width: 80%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.NewsPage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 60%;
    height: auto;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.NewsPage h1 {
    font-size: 150%;
}

.NewsPage h2 {
    font-size: 100%;
}

.NewsPage ul {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.NewsPage ul li {
    padding: 5px;
}

.NewsImagePage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 60%;
    height: auto;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.AboutMePage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 60%;
    height: auto;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.ProjectPage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.ArtPage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.ArtBlock {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 22%;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}

.MusicPage {
    border: solid rgb(204, 65, 255);
    border-width: 2px;
    background-color: rgb(69, 36, 96);
    padding: 10px;
    width: 40%;
    height: 550px;
    border-radius: 20px;
    color: rgb(213, 106, 240);
    font-size: 20px;
    text-decoration: none;
    vertical-align: top;
    margin: 0 auto;
}

.audio-player {
    width: 100%;
    margin: 0%;
}
