body {
    background-color:rgb(51, 21, 80);
    color: white;
}

.Codder_container {
    display: block;
    margin: auto;
    text-align: center;
    width: 60%;
}

.Codder_container textarea{
    width: 99%;
    height: 80px;
    font-size: large;
}

.Codder_container button{
    width: 45%;
    height: 80px;
    font-size: larger;
}

#result_label button{
    height: fit-content;
    width: 100%;
    padding: 10px;
}